.bullets
	padding: 45px 0

	.item
		position: relative
		min-height: 70px
		font-size: $font-size-small
		line-height: 1.35em
		padding: 8px 0 0 82px

		&:before
			position: absolute
			left: 0
			top: 0
			width: 70px
			height: 70px
			display: block
			content: ''

		&.discount:before
			background: url(../images/bullets/discount.svg)

		&.delivery:before
			background: url(../images/bullets/delivery.svg)

		&.target:before
			background: url(../images/bullets/target.svg)

		&.editor:before
			background: url(../images/bullets/editor.svg)

.categories
	$side-width: 150px

	background: #dad7d0
	padding: 45px 0 35px

	.hero-title
		color: #333333

	.items
		+clearfix
		margin-left: -20px

		.cell
			width: 16.66666%
			float: left
			padding-left: 20px
			box-sizing: border-box
			margin-bottom: 20px

			&.main-pic
				width: 33.33333%
				height: $side-width * 2 + 20

				.item
					height: $side-width * 2 + 20

					.image
						width: $side-width * 2 + 20
						height: $side-width * 2 + 20

		.item
			display: block
			position: relative
			font-size: 15px

			.title
				background: rgba(0, 0, 0, .8)
				height: 30px
				line-height: 33px
				color: #fff
				text-align: center
				overflow: hidden
				text-overflow: ellipsis
				width: 100%
				position: absolute
				bottom: 0
				left: 0
				transition: color .5s
				font-family: 'Conv_PFAgoraSlabPro-Reg'

			.image
				overflow: hidden
				width: $side-width
				height: $side-width
				display: block

				img
					width: 100%
					display: block
					transition: .6s

			&:hover
				.title
					color: #ccc

				.image
					img
						transform: scale(1.2)


.instruction-intro
	background: #333333
	padding: 45px 0 40px
	color: #fff

	.after-arrow
		position: relative

		&:after
			content: ''
			width: 13px
			height: 22px
			display: block
			position: absolute
			background: url(../images/icons/arrow-right-gray.svg)
			right: -17px
			top: 64px

	.hero-title
		margin-bottom: 25px

	.item
		text-align: center

		mark
			background: none
			color: $color-red

		&:before
			width: 150px
			height: 150px
			display: block
			content: ''
			margin: 0 auto

		&.one
			@extend .after-arrow
			&:before
				background-image: url(../images/promo-instruction/1.png)

		&.two
			@extend .after-arrow
			&:before
				background-image: url(../images/promo-instruction/2.png)

		&.three:before
			background-image: url(../images/promo-instruction/3.png)


.many-pictures
	padding: 45px 0
	height: 500px
	background: #F2F2F2 url(../images/bg/many-pics.png) no-repeat center 45px
	position: relative

	.hero-title
		position: absolute
		width: 430px
		color: $color-red
		left: 50%
		top: 240px
		margin-left: -215px
		line-height: 1.1em

.popular
	padding: 20px 0 45px
	background: #F2F2F2
	position: relative

.reviews
	background: #DAD7D0
	padding: 45px 0 55px

	.container
		position: relative

		.left,
		.right
			$width: 55px

			position: absolute
			top: 0
			height: 150px
			width: $width
			transition: opacity .2s

			&:after
				content: ''
				width: 13px
				height: 22px
				display: block
				position: absolute
				top: 50%
				left: 50%
				margin: -11px 0 0 -7px
				background: url(../images/icons/arrow-right-gray-dark.svg)

			&.right
				right: -$width

			&.left
				left: -$width

				&:after
					transform: rotateY(180deg)

			&:hover
				&.left,
				&.right
					opacity: .75

	.item
		.body
			padding: 15px 20px
			min-height: 120px
			background: $color-red
			color: #fff
			position: relative
			margin-bottom: 20px

			&:after
				content: ''
				display: block
				position: absolute
				bottom: -12px
				left: 20px
				height: 0
				border-style: solid
				border-width: 12px 10px 0 10px
				border-color: $color-red transparent transparent transparent

		.subtitle
			font-size: $font-size-medium
			color: #7d7d7d

