@font-face {
  font-family: 'Conv_PFAgoraSlabPro-Reg';
  src: url('../fonts/PFAgoraSlabPro-Reg.eot');
  src: local('☺'), url('../fonts/PFAgoraSlabPro-Reg.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Reg.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Reg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_PFAgoraSlabPro-Bold';
  src: url('../fonts/PFAgoraSlabPro-Bold.eot');
  src: local('☺'), url('../fonts/PFAgoraSlabPro-Bold.woff') format('woff'), url('../fonts/PFAgoraSlabPro-Bold.ttf') format('truetype'), url('../fonts/PFAgoraSlabPro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,cyrillic);