.limiter.nav-main-popup-limiter
	position: relative

.nav-main-popup
	line-height: 1.5em
	position: absolute
	top: -500px
	left: 0
	background: #fff
	z-index: 5
	width: 100%

	&.in
		transition: top .4s cubic-bezier(0.190, 1.000, 0.220, 1.000)
		transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000)

	&.out
		transition: top .4s cubic-bezier(0.190, 1.000, 0.220, 1.000)
		transition-timing-function: cubic-bezier(0.190, 1.000, 0.220, 1.000)

	&.dark
		background: $color-dark-bg
		color: #fff

	&.create
		padding: 20px

		.scheme
			box-sizing: border-box
			width: 335px
			padding: 20px
			background: #393b41
			border-radius: 10px
			float: left
			font-size: 18px
			@extend .text-curly

			.step
				height: 80px
				margin-bottom: 20px

				&:last-of-type
					margin-bottom: 0

				mark, .icon, .text
					height: 80px
					display: table-cell
					vertical-align: middle

					&.icon
						width: 110px

						img
							width: 80px
							height: 80px
							display: block

					&.text
						display: table-cell
						height: 80px
						width: 100px

				mark
					width: 50px
					color: $color-red
					background: none
					padding-left: 10px

				&.step-3
					.icon
						img
							width: 90px
							height: 90px
							margin: -5px 0 0 -5px

		nav
			@extend .links-white
			+clearfix
			font-size: 14px

			.section
				margin-bottom: 22px

			.title
				color: $color-red
				font-weight: bold

			.col
				float: left
				width: 29%
				margin-left: 4.3333%

				a
					display: block
























