footer.footer
	.limiter
		.container
			.grid-row
				.col-12
					p OOO &laquo;Гравировка Подарков&raquo;
						br
						|&reg; 2014 Все права защищены

					.text-small
						.title Адрес местонахождения:
						p
							|123000, Москва, Трубниковский переулок д. 15 стр. 1
							br
							|м. Смоленская
							br
							|+7 (495) 795-4-197
							br
							|contact@gravirovka-podarkov.ru

						.title Юр. адрес:
						p
							|117454, г. Москва, пр-т Вернадского, д. 40, оф. 41
							br
							|ОГРН: 11277466299321
							br
							|ИНН: 7734286304

				.col-6
					nav.bottom
						a(href="#") Компания
						a(href="#") Доставка и оплата
						a(href="#") Наш блог
						a(href="#") FAQ
						a(href="#") Контакт
						a(href="#") Отзывы
						a(href="#") Авторские права
						a(href="#") Карта сайта

				.col-6
					.title.text-small Мы в соц. сетях:
					p.socials
						a.vk(href="#", title="Вконтакте")
						a.tw(href="#", title="Твиттер")
						a.fb(href="#", title="Фейсбук")

					.title.text-small Способы оплаты:
					p.payments-icons
						span.payments-visa
						span.payments-mastercard
						span.payments-webmoney
						span.payments-qiwi
						span.payments-yandex
						span.payments-vtb
						span.payments-robokassa
