header.header
	.top
		.limiter
			nav.top
				a(href="#") Доставка и оплата
				a(href="#") Гарантия качества
			.phone +7 (495) 795-4-197

	section.section
		.limiter
			a.logo(href="/") Гравировка подарков

			include nav-main