header.header
	.top
		.limiter
			nav.top
				a(href="#") Доставка и оплата
				a(href="#") Гарантия качества
			.phone +7 (495) 795-4-197
	section.section
		.limiter
			a.logo(href="/") Гравировка подарков
			nav.main
				a(href="#") Магазин
				a.active(href="#") Создать дизайн
				a(href="#") Начать продавать
				a.icon(href="#", title="Поиск"): i.search
				a.icon(href="#", title="Корзина"): i.cart
				a.icon(href="#", title="Войти/зарегистрироваться"): i.user