.hero
	.content
		.grid-row
			.col-6
				h2 Чехлы для iPhone – прекрасный подарок!
				p Гравировка на iPhone и iPad станет хорошим подарком любого владельца «яблочного» гаджета. С завода все айфоны, айпады и айподы выглядят одинаково, а внешне отличаются лишь цветом корпуса. Данные устройства изначально не несут никакой индивидуальности! Однако, все можно исправить!
				p Для этого выбирайте ваше устройство и гравировку для него. Она станет отличным подарком, выделяющим ваше устройство среди прочих, добавляя ему больше индивидуальности и стиля! Она никогда не сотрется с корпуса айфона и всегда будет выглядеть потрясно, дополняя внешний вид смартфона!

			.col-3.text-center
				br
				img(src="/images/art/apple.png", alt="Apple")