.limiter.nav-main-popup-limiter
	.nav-main-popup.dark.show.create
		.scheme

		nav
			.col
				.title Для курящих
				a(href="#") Зажигалки Zippo
				a(href="#") Другие зажигалки
				a(href="#") Портсигары
				a(href="#") Спичечные коробки

				.title Универсальные
				a(href="#") Брелки
				a(href="#") Дипломы
				a(href="#") Авторамки
				a(href="#") Свадебные замки
				a(href="#") Табличкиa

			.col
				.title Электроника
				a(href="#") USB флешки
				a(href="#") Внешние диски
				a(href="#") Гаджеты Apple

				.title Для мужчины
				a(href="#") Зажимы для галстука
				a(href="#") Запонки
				a(href="#") Жетоны
				a(href="#") Мультитулы
				a(href="#") Фонарь-бита

			.col
				.title Разное
				a(href="#") Бирки для животных
				a(href="#") Шапки

				.title Для женщины
				a(href="#") Кулоны
				a(href="#") Кухонные доски
				
				.title Для бизнеса
				a(href="#") Визитки
				a(href="#") Визитницы
				a(href="#") Призы с фигурками