.limiter.nav-main-popup-limiter
	.nav-main-popup.dark.create
		.scheme
			.step
				mark 01.
				span.icon
					img(src="/images/promo-instruction/1.png", alt="Рисуй")
				span.text Рисуй

			.step
				mark 02.
				span.icon 
					img(src="/images/promo-instruction/2.png", alt="Загружай на сайт")
				span.text Загружай на сайт

			.step.step-3
				mark 03.
				span.icon
					img(src="/images/promo-instruction/3.png", alt="Получай деньги")
				span.text Получай деньги

		nav
			.col
				.section
					.title Для курящих
					a(href="#") Зажигалки Zippo
					a(href="#") Другие зажигалки
					a(href="#") Портсигары
					a(href="#") Спичечные коробки

				.section
					.title Универсальные
					a(href="#") Брелки
					a(href="#") Дипломы
					a(href="#") Авторамки
					a(href="#") Свадебные замки
					a(href="#") Табличкиa

			.col
				.section
					.title Электроника
					a(href="#") USB-флешки
					a(href="#") Внешние диски
					a(href="#") Гаджеты Apple

				.section
					.title Для мужчины
					a(href="#") Зажимы для галстука
					a(href="#") Запонки
					a(href="#") Жетоны
					a(href="#") Мультитулы
					a(href="#") Фонарь-бита

			.col
				.section
					.title Разное
					a(href="#") Бирки для животных
					a(href="#") Шапки

				.section
					.title Для женщины
					a(href="#") Кулоны
					a(href="#") Кухонные доски

				.section
					.title Для бизнеса
					a(href="#") Визитки
					a(href="#") Визитницы
					a(href="#") Призы с фигурками

	.nav-main-popup.cart.show
		.cart-min
			.items
				.item
					.grid-row
						.col-2
							.image 
								a(href="#"): img(src="http://lorempixel.com/200/200/fashion/?1234", alt="Чехол собственного дизайна для iPhone 6 Plus")
						.col-8
							.title 
								a(href="#") Чехол собственного дизайна для iPhone 6 Plus

							.params-table
								.row
									.col.left Размеры (ШxВxТ)
									.col.right 77.8x158.1x7.1 мм

								.row
									.col.left Диагональ
									.col.right 5.5 дюйм

								.row
									.col.left Размер изображения
									.col.right 1080x192

						.col-2
							.price 12 400 руб.
							.button.gray-red Удалить

				.item
					.grid-row
						.col-2
							.image 
								a(href="#"): img(src="http://lorempixel.com/200/200/fashion/?1235", alt="Чехол собственного дизайна для iPhone 6 Plus")
						.col-8
							.title 
								a(href="#") USB-флешка с логотипом Ferrari

							.params-table
								.row
									.col.left Размеры (ШxВxТ)
									.col.right 77.8x158.1x7.1 мм

								.row
									.col.left Диагональ
									.col.right 5.5 дюйм

								.row
									.col.left Размер изображения
									.col.right 1080x192
									
						.col-2
							.price 5 990 руб.
							.button.gray-red Удалить

			.bottom
				.grid-row
					.col-2 &nbsp;
					.col-7 
						.badge.big.purple.arrow 
							|Купи 5 подарков 
							br
							|и получи скидку
					.col-3
						.total-price
							.title Итого:
							.price 12 500 руб.
							a(href="#").button.shadow.big.red Оформить заказ
				
