nav.main
	a(href="#") Магазин
	a(href="#", data-anchor="create") Создать дизайн
	a(href="#") Начать продавать
	
	a.icon.search(href="#", title="Поиск"): i.search
	a.icon(href="#", data-anchor="cart", title="Корзина"): i.cart
	a.icon(href="#", title="Войти/зарегистрироваться"): i.user

	.search-input
		