nav.nav-left
	section
		.title Для курящих
		a(href="#") Зажигалки Zippo
		a(href="#") Другие зажигалки
		a(href="#") Портсигары
		a(href="#") Спичечные коробки

	section
		.title Универсальные
		a(href="#") Брелки
		a(href="#") Дипломы
		a(href="#") Авторамки
		a(href="#") Свадебные замки
		a(href="#") Таблички

	section
		.title Электроника
		a(href="#") USB флешки
		a(href="#") Внешние диски
		a.active(href="#") Чехлы для iPhone

	section
		.title Для мужчины
		a(href="#") Зажимы для галстука
		a(href="#") Запонки
		a(href="#") Жетоны
		a(href="#") Мультитулы
		a(href="#") Фонарь-бита

	section
		.title Разное
		a(href="#") Бирки для животных
		a(href="#") Шапки

	section
		.title Для женщины
		a(href="#") Кулоны
		a(href="#") Кухонные доски

	section
		.title Для бизнеса
		a(href="#") Визитки
		a(href="#") Визитницы
		a(href="#") Призы с фигурками