.limiter.nav-main-popup-limiter
	.nav-main-popup.dark.show.create
		.scheme
			.step
				mark 01.
				span.icon
					img(src="/images/promo-instruction/1.png", alt="Рисуй")
				span.text Рисуй

			.step
				mark 02.
				span.icon 
					img(src="/images/promo-instruction/2.png", alt="Загружай на сайт")
				span.text Загружай на сайт

			.step.step-3
				mark 03.
				span.icon
					img(src="/images/promo-instruction/3.png", alt="Получай деньги")
				span.text Получай деньги

		nav
			.col
				.section
					.title Для курящих
					a(href="#") Зажигалки Zippo
					a(href="#") Другие зажигалки
					a(href="#") Портсигары
					a(href="#") Спичечные коробки

				.section
					.title Универсальные
					a(href="#") Брелки
					a(href="#") Дипломы
					a(href="#") Авторамки
					a(href="#") Свадебные замки
					a(href="#") Табличкиa

			.col
				.section
					.title Электроника
					a(href="#") USB флешки
					a(href="#") Внешние диски
					a(href="#") Гаджеты Apple

				.section
					.title Для мужчины
					a(href="#") Зажимы для галстука
					a(href="#") Запонки
					a(href="#") Жетоны
					a(href="#") Мультитулы
					a(href="#") Фонарь-бита

			.col
				.section
					.title Разное
					a(href="#") Бирки для животных
					a(href="#") Шапки

				.section
					.title Для женщины
					a(href="#") Кулоны
					a(href="#") Кухонные доски

				.section
					.title Для бизнеса
					a(href="#") Визитки
					a(href="#") Визитницы
					a(href="#") Призы с фигурками