.grid-row
	.col-9
		a.product-card(href="#")
			.image
				img(src="http://lorempixel.com/400/200/nightlife/?12")
			.params
				.title Шапка-бычок
				.price 1 200 руб.

	.col-9
		a.product-card(href="#")
			.image
				img(src="http://lorempixel.com/400/300/nightlife/?122")
			.params
				.title Шапка-бычок Шапка-бычок Шапка-бычок
				.price 1 200 руб.

.grid-row
	.col-9
		a.product-card(href="#")
			.image
				img(src="http://lorempixel.com/400/200/nightlife/?12")
			.params
				.title Шапка-бычок
				.price 1 200 руб.

	.col-9
		a.product-card(href="#")
			.image
				img(src="http://lorempixel.com/100/300/nightlife/?122")
			.params
				.title Шапка-бычок Шапка-бычок Шапка-бычок
				.price 1 200 руб.