.grid-row
	.col-6
		a.product-cat(href="#")
			span.content
				span.number 1
				span.title Товары за 1 000 руб.

	.col-6
		a.product-cat(href="#")
			span.content
				span.number 2
				span.title Товары за 2 000 руб.

	.col-6
		a.product-cat(href="#")
			span.content
				span.number 3
				span.title Товары за 3 000 руб.
