.reviews
	.limiter
		h2.hero-title.text-center Отзывы наших посетителей

		.container
			a.left(href="#")
			a.right(href="#")

			.slider-reviews
				.frame
					ul.slidee
						li.item
							.body Лист Мёбиуса порождает комплексный ротор векторного поля. Доказательство порождает анормальный скачок функции.
							.title Дина Александровна
							.subtitle Зажигалки

						li.item
							.body Лист Мёбиуса порождает комплексный ротор векторного поля. Доказательство порождает анормальный скачок функции.
							.title Дина Александровна
							.subtitle Зажигалки

						li.item
							.body Лист Мёбиуса порождает комплексный ротор векторного поля. Доказательство порождает анормальный скачок функции.
							.title Дина Александровна
							.subtitle Зажигалки

						li.item
							.body Лист Мёбиуса порождает комплексный ротор векторного поля. Доказательство порождает анормальный скачок функции.
							.title Дина Александровна
							.subtitle Зажигалки

						li.item
							.body Лист Мёбиуса порождает комплексный ротор векторного поля. Доказательство порождает анормальный скачок функции.
							.title Дина Александровна
							.subtitle Зажигалки

						li.item
							.body Лист Мёбиуса порождает комплексный ротор векторного поля. Доказательство порождает анормальный скачок функции.
							.title Дина Александровна
							.subtitle Зажигалки