.categories
	.limiter
		h2.hero-title.text-center Товары по любому поводу

		.items
			.cell.main-pic
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/technics/?11")
					span.title Супер цены на гаджеты Apple

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/nightlife/?12")
					span.title Зажигалки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/fashion/?13")
					span.title Портсигары

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/fashion/?14")
					span.title Шапки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/fashion/?15")
					span.title Часы

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/business/?16")
					span.title Дипломы

			.cell
				a(href="#").item.main
					span.image
						img(src="http://lorempixel.com/400/400/technics/?17")
					span.title Замки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/city/?18")
					span.title Таблички

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/technics/?19")
					span.title Флешки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/city/?20")
					span.title Авторамки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/business/?21")
					span.title Визитки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/nightlife/?22")
					span.title Запонки

			.cell
				a(href="#").item.main
					span.image
						img(src="http://lorempixel.com/400/400/?23")
					span.title Жетоны

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/fashion/?24")
					span.title Браслеты

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/technics/?25")
					span.title Фонарики