.instruction-intro
	.limiter
		h2.hero-title.text-center Создай свой собственный дизайн

		.grid-row
			.col-4
				.item.one
					mark 01.&nbsp;
					|Рисуй

			.col-4
				.item.two
					mark 02.&nbsp;
					|Загружай на сайт

			.col-4
				.item.three
					mark 03.&nbsp;
					|Получай деньги