
<div class="categories">
  <div class="limiter">
    <h2 class="hero-title text-center">Товары по любому поводу</h2>
    <div class="items">
      <div class="cell main-pic"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?11"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?12"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?13"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?14"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?15"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?16"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item main"><span class="image"><img src="http://lorempixel.com/400/400/?17"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?18"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?19"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?20"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?21"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?22"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item main"><span class="image"><img src="http://lorempixel.com/400/400/?23"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?24"/></span><span class="title">Подарки</span></a></div>
      <div class="cell"><a href="#" class="item"><span class="image"><img src="http://lorempixel.com/400/400/?25"/></span><span class="title">Подарки</span></a></div>
    </div>
  </div>
</div>