.categories
	.limiter
		h2.hero-title.text-center Товары по любому поводу

		.items
			.cell.main-pic
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?11")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?12")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?13")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?14")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?15")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?16")
					span.title Подарки

			.cell
				a(href="#").item.main
					span.image
						img(src="http://lorempixel.com/400/400/?17")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?18")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?19")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?20")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?21")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?22")
					span.title Подарки

			.cell
				a(href="#").item.main
					span.image
						img(src="http://lorempixel.com/400/400/?23")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?24")
					span.title Подарки

			.cell
				a(href="#").item
					span.image
						img(src="http://lorempixel.com/400/400/?25")
					span.title Подарки