.sale.sale-1
	.limiter
		h2.text-center.hero-title Три способа заработать на нашем сайт
		
		.grid-row.art-cols
			.col-4
				.image
					img(src="/images/art/laptop.png", alt="Выставляй свои дизайны на продажу в наш магазин")
				.item
					mark 01.
					h3.title Выставляй свои дизайны на продажу в наш магазин
					p Тысячи людей каждый месяц заходят на Gravirovka-Podarkov, чтобы купить себе уникальную вещь. 
					p Твое портфолио дизайна полиграфической и сувенирной продукции — это лучшее резюме и возможность показать, на что ты способен.

			.col-4
				.image
					img(src="/images/art/scissors.png", alt="Открой свой магазин и продавай товары через него")
				.item
					mark 02.
					h3.title Открой свой магазин и продавай товары через него
					p Тысячи людей каждый месяц заходят на Gravirovka-Podarkov, чтобы купить себе уникальную вещь. 
					p Выделенный домен второго уровня (пр. yourname.Gravirovka-Podarkov.ru) или твой личный домен (пр.yoursite.ru).

			.col-4
				.image
					img(src="/images/art/buy.png", alt="Монетизируй свою аудиторию и зарабатывай деньги")
				.item
					mark 03.
					h3.title Монетизируй свою аудиторию и зарабатывай деньги
					p Уже есть сайт? Вставь в него классный магазин.
					p Предоставь своей аудитории возможность создавать свои вещи прямо у тебя на сайте, и зарабатывай на этом.

		.text-center
			a.button.hero.red.shadow(href="#") Начать зарабатывать
			br