.sale.sale-1
	.limiter
		h2.text-center.hero-title С нами выгодно сотрудничать

		.bullets-big
			.grid-row
				.col-12
					.item.editor 
						h3.title Самый инновационный и удобный редактор
						p Наш редактор использует самые современные технологии — создайте изумительный дизайн всего за несколько минут!
				.col-12
					.item.discount
						h3.title Самые качественные товары
						p В своей работе мы используем только качественную продукцию из качественного металла. Ничего не потускнеет, не отслоится и не пожелтеет.
						
			.grid-row
				.col-12
					.item.target 
						h3.title Только высокоточная лазерная гравировка. Никаких пленок и термопереносов
						p Высокоточная лазерная гравировка. Не стирается.
				.col-12
					.item.delivery 
						h3.title Самая быстрая доставка
						p Большинство заказов доставляются по Москве в течение одного рабочего дня! Мы также осуществляем доставку по всей России.				

		h3.lead-title.text-center
			|Да что там говорить.
			br
			|Откройте свой магазин и почувствуйте разницу!

		.text-center
			a.button.mega.red.shadow(href="#") Начать зарабатывать
			br
			br
			br
