.sale.sale-1
	.limiter
		h2.text-center.hero-title С нами выгодно сотрудничать

		.bullets.big
			.grid-row
				.col-6
					.item.editor 
						.title Самый инновационный и удобный редактор
						|Наш редактор использует самые современные технологии — создайте изумительный дизайн всего за несколько минут!
				.col-6
					.item.discount
						.title Самые качественные товары
						|В своей работе мы используем только качественную продукцию из качественного металла. Ничего не потускнеет, не отслоится и не пожелтеет.
						
			.grid-row
				.col-6
					.item.target 
						.title Только высокоточная лазерная гравировка. Никаких пленок и термопереносов
						|Высокоточная лазерная гравировка. Не стирается.
				.col-6
					.item.delivery 
						.title Самая быстрая доставка
						|Большинство заказов доставляются по Москве в течение одного рабочего дня! Мы также осуществляем доставку по всей России.				

		h3.lead-title.text-center
			|Да что там говорить.
			br
			|Откройте свой магазин и почувствуйте разницу!

		.text-center
			a.button.hero.red.shadow(href="#") Начать зарабатывать
			br
			br
			br
