.sale.sale-2
	.limiter
		h2.text-center.hero-title Для кого это интересно

		.grid-row.art-cols
			.col-8
				.image
					img(src="/images/art/editors.png", alt="Выставляй свои дизайны на продажу в наш магазин")
				.item
					mark 01.
					h3.title Дизайнерам и иллюстраторам
					p Каждый созданный твой дизайн будет приносить тебе доход вечно. Твой магазин — это твой бизнес, твое портфолио, твоя слава.

			.col-8
				.image
					img(src="/images/art/writing.png", alt="Открой свой магазин и продавай товары через него")
				.item
					mark 02.
					h3.title Блоггерам, владельцам тематических сайтов и пабликов в соц сетях
					p Создай тематический магазин прямо у себя на сайте. Зарабатывай реальные деньги, предоставляя полезную услугу, вместо назойлевой рекламы.

			.col-8
				.image
					img(src="/images/art/rocket.png", alt="Монетизируй свою аудиторию и зарабатывай деньги")
				.item
					mark 03.
					h3.title SEOшникам и тем, кто умеет работать с трафиком
					p Забудь про куки, которые живут не больше 6-ти месяцев. Создай свою брэндированную версию Gravirovka-Podarkov.ru, продвигай, накапливай аудиторию, и бросай свою работу.

		.text-center
			a.button.hero.red.shadow(href="#") Начать зарабатывать
			br
			br
			br
