.slider-main
	a.left(href="#")
		i
	a.right(href="#")
		i

	ul.pages-bar

	.frame
		ul.slidee
			li
				.image
					img(src="http://lorempixel.com/1920/440/nightlife/?1")

			li
				.image
					img(src="http://lorempixel.com/1920/440/nightlife/?2")

			li
				.image
					img(src="http://lorempixel.com/1920/440/nightlife/?3")

			li
				.image
					img(src="http://lorempixel.com/1920/440/nightlife/?4")