.slider-sub
	.frame
		ul.slidee
			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?1")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?2")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?3")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?4")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?5")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?6")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?7")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?8")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?9")
					.title Портсигары

			li: a(href="#")
				.image
					img(src="http://lorempixel.com/320/210/nightlife/?10")
					.title Портсигары
