.slider-main
	a.left(href="#")
		i
	a.right(href="#")
		i

	ul.pages-bar

	.frame
		ul.slidee
			li
				.content
					.title Высокоточная лазерная гравировка
					.text Высокоточная лазерная гравировка. 
						br
						|Прекрасно смотрится, не стирается, не смывается, не тускнеет.
					.button.big.shadow.white Выбрать подарок

				.image
					img(src="/images/slider/1.jpg")

			li
				.content.white
					.title Высокоточная лазерная гравировка
					.text Высокоточная лазерная гравировка. 
						br
						|Прекрасно смотрится, не стирается, не смывается, не тускнеет.
					.button.big.shadow.white Выбрать подарок

				.image
					img(src="/images/slider/2.jpg")

			li
				.content
					.title Высокоточная лазерная гравировка
					.text Высокоточная лазерная гравировка. 
						br
						|Прекрасно смотрится, не стирается, не смывается, не тускнеет.
					.button.big.shadow.white Выбрать подарок

				.image
					img(src="/images/slider/1.jpg")

			li
				.content.white
					.title Высокоточная лазерная гравировка
					.text Высокоточная лазерная гравировка. 
						br
						|Прекрасно смотрится, не стирается, не смывается, не тускнеет.
					.button.big.shadow.white Выбрать подарок

				.image
					img(src="/images/slider/2.jpg")