.sale.sale-2
	.limiter
		h2.text-center.hero-title Зарабатывайте на своих рисунках

		h3.lead-title.small.text-center
			p Огромное количество людей каждый месяц посещают наш сайт,
				br
				|чтобы купить себе уникальную вещь с гравировкой.
			p Вы можете начать получать доход
				br
				|от своих дизайнов или бренда прямо сейчас!

		.text-center
			a.button.mega.red.shadow(href="#") Начать зарабатывать
			br
			br
			br
