doctype html
html
	include partials/head

	body.page-biege
		.overall
			include partials/header
			include partials/nav-main-popup



			include partials/see-also
			include partials/work-it

			.push

		include partials/footer
