doctype html
html
	include partials/head

	body.page-biege
		.overall
			include partials/header
			include partials/nav-main-popup

			main.main.regular-page.product-details
				.limiter
					include partials/details

			include partials/see-also

			.push

		include partials/footer
