doctype html
html
	include partials/head
	body
		.overall
			header.header
				.top
					.limiter
						nav.top
							a(href="#") Доставка и оплата
							a(href="#") Гарантия качества

						.phone +7 (495) 795-4-197

				section.section
					.limiter
						a.logo(href="/") Гравировка подарков

						nav.main
							a(href="#") Магазин
							a.active(href="#") Создать дизайн
							a(href="#") Начать продавать
							a(href="#") x
							a(href="#") y
							a(href="#") z

			main.main
				.slider-main
				.slider-sub

				.bullets
					.limiter
						ul
							li.delivery Доставка по Москве завтра. Самовывоз уже сегодня :)
							li.target Высокоточная лазерная гравировка. Не стирается.
							li.discount Гравировка от 1 шт. Большие скидки &mdash; большим клиентам.
							li.editor Удобный онлайн-редактор. Заработай на своем дизайне.

				.categories
					.limiter
						h2 Товары по любому поводу

			.push

		footer.footer