doctype html
html
	include partials/head
	body
		.overall
			main.main
				br
				br

				.limiter
					.grid-row
						.col-3: p: a.button.red(href="/main.html") main.html
						.col-3: p: a.button.red(href="/register.html") register.html
						.col-3: p: a.button.red(href="/sale.html") sale.html
						.col-3: p: a.button.red(href="/catalog-2.html") catalog-2.html