doctype html
html
	include partials/head
	body
		.overall
			include partials/header

			main.main
				include partials/slider-main
				include partials/slider-sub
				include partials/promo-bullets
				include partials/promo-categories
				include partials/promo-instruction-intro
				include partials/promo-many-pictures
				include partials/promo-popular
				include partials/promo-reviews

			.push

		include partials/footer