doctype html
html
	include partials/head
	body
		.overall
			main.main
				br
				br

				.limiter
					.grid-row
						.col-6: p: a.button.red(href="/main.html") main.html
						.col-6: p: a.button.red(href="/register.html") register.html
						.col-6: p: a.button.red(href="/sale.html") sale.html
						.col-6: p: a.button.red(href="/catalog.html") catalog.html

					br
					.grid-row
						.col-6: p: a.button.red(href="/catalog-2.html") catalog-2.html
						.col-6: p: a.button.red(href="/catalog-3.html") catalog-3.html
						.col-6: p: a.button.red(href="/catalog-4.html") catalog-4.html