doctype html
html
	include partials/head
	body
		.overall
			header.header
				.top
					.limiter
						nav.top
							a(href="#") Доставка и оплата
							a(href="#") Гарантия качества

						.phone +7 (495) 795-4-197

				section.section
					.limiter
						a.logo(href="/") Гравировка подарков

						nav.main
							a(href="#") Магазин
							a.active(href="#") Создать дизайн
							a(href="#") Начать продавать
							a.icon.search(href="#", title="Поиск")
							a.icon.cart(href="#", title="Корзина")
							a.icon.user(href="#", title="Войти/зарегистрироваться")

			main.main
				.slider-main
				.slider-sub

				.bullets
					.limiter
						.grid-row
							.col-3
								.item.delivery Доставка по Москве завтра. Самовывоз уже сегодня :)
							.col-3
								.item.target Высокоточная лазерная гравировка. Не стирается.
							.col-3
								.item.discount Гравировка от 1 шт. Большие скидки &mdash; большим клиентам.
							.col-3
								.item.editor Удобный онлайн-редактор. Заработай на своем дизайне.

				.categories
					.limiter
						h2.hero-title.text-center Товары по любому поводу

						.items
							a(href="#").item
								.title Подарки

			.push

		footer.footer