doctype html
html
	include partials/head
	body
		.overall
			include partials/header
			include partials/nav-main-popup

			main.main
				include partials/sale-1
				include partials/sale-2
				include partials/sale-3

			.push

		include partials/footer